<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
<body>
  <%- include('../../layout/header') %>
  <main>
    <form action="/searches" method="POST">
      <input name="searchString" type="text" placeholder="Enter a title or author">
      <label>
        Title
        <input name="filter" value="title" type="radio">
      </label>
      <label>
        Author
        <input name="filter" value="author" type="radio">
      </label>
      <button type="submit">Search the Google Books API</button>
    </form>
  
  </main>
</body>
</html>