<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <input type="text" placeholder="Enter a title or author">
    <label>Title</label>
    <input name="title" type="radio">
    <label>Author</label>
    <input name="author" type="radio">
    <button type="submit">Search the Google Books API</button>
  </form>
</body>
</html>