header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  background-color: black;
  height: 100px;
}

main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 50px;
}
