header h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

header nav {
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;  
}

header nav ul li{
  text-decoration: white;
  
}

main form{
  font-size: 20px;
}

main section {
  background-color: lightgray;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

main section article{
  display: inline-block;
  width:600px;
  vertical-align: top;
  margin-top: 15px;
}
main section article h2{
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}

main section article h3{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

main section article p{
  text-align: left;
}

@media only screen and (max-width: 767px){ 
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  main section article{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  header{
    width: 700px;

  }

  main{
    width: 700px;
  }

  main section {
    width:700px;
  }

  footer {
    width: 700px;
  }
}  

#updateForm {
  display: none;
}

#updateForm input, textarea, button {
  display: inline-block;
}